@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");

:root {
  --font-fam: "Inter", sans-serif;
  --clr-bgd: #a897fb;
  --clr-color: black;
  --clr-link: #242486;
  --drk-bgd: #0d0d20;
  --drk-color: white;
  --drk-link: #d4d4e7;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-fam);
  background-color: var(--clr-bgd);
  height: 100vh;
}

h1 {
  text-align: center;
}

a {
  color: var(--clr-link);
}

.container {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  margin: 0;
  line-height: 2.2rem;
}

.card {
  margin: 5rem;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 2rem 2rem rgb(36, 36, 134, 0.2);
  max-width: 27rem;
  min-width: 20rem;
}

.close {
  cursor: pointer;
  margin: 1.4rem 2.2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #a897fb;
  font-size: 2.4rem;
  font-weight: 200;
}

.card a {
  padding: 0.7rem;
  background-color: #653df2;
  color: white;
  border-radius: 0.3rem;
  text-decoration: none;
}

.card-profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0;
}

.separator {
  margin: auto;
  width: 81%;
  height: 0.15rem;
  background: #f0e9ff;
}

.card-profil img {
  border-radius: 50rem;
  width: 5rem;
  height: 5rem;
  margin: 0 0.7rem 0 1.5rem;
}

.card-profil .card-name * {
  margin: 0.2rem 0;
}

.premium {
  padding: 3rem;
  color: white;
  background: rgb(132, 104, 255);
  background: linear-gradient(
    117deg,
    rgba(132, 104, 255, 1) 0%,
    rgba(132, 104, 255, 1) 60%,
    rgba(120, 91, 247, 1) 60%,
    rgba(120, 91, 247, 1) 100%
  );
}

footer {
  padding: 5rem 0;
  text-align: center;
}
