@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

:root {
  --font-fam: "Kumbh Sans", sans-serif;
  --clr-bgd: gainsboro;
  --clr-color: black;
  --clr-link: blue;
  --drk-bgd: #0f0f1b;
  --drk-color: white;
  --drk-link: #d4d4e7;
}

body {
  font-family: var(--font-fam);
  background-color: var(--drk-bgd);
  color: var(--drk-color);
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
}

a {
  color: var(--drk-link);
}

footer {
  padding: 5rem 0;
  text-align: center;
}

p {
  margin: 0 2rem;
}

.head {
  text-align: center;
}

.main-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem;
}

.card {
  position: relative;
  margin: 0 0.7rem;
  width: 16rem;
  height: 16rem;
  border-radius: 1rem;
  background-color: #171727;
  transition: all 250ms;
}

.card p {
  margin-top: 2rem;
}

.card:hover {
  background-color: #242486;
  transition: all 250ms;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.get {
  position: absolute;
  bottom: 2.5rem;
  font-size: 1rem;
}

button {
  width: 10rem;
  padding: 1rem 2rem;
  font-family: var(--font-fam);
  background-color: var(--bgd-color);
  color: #7575ab;
  border: 0.1rem solid #7575ab;
  border-radius: 0.5rem;
}
